.contact-content {
  display: flex;
}
.contact-text {
  max-width: 400px;
  padding: 30px;
}
.contact-text-para {
  font-size: var(--para-font-size);
  font-weight: 300;
  color: var(--paratext-color);
  line-height: 25px;
}
.contact-text-para-1 {
  font-weight: 500;
  font-style: italic;
  font-size: var(--para-font-size);
}
.contact-form {
  max-width: 800px;
  padding: 30px 20px;
}
.form-info {
  width: 340px;
  margin-bottom: 20px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: none;
  box-shadow: none;
  padding-left: 15px;
  margin-right: 10px;
}
.form-message{
  margin-bottom: 20px;
  display: inline-block;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: none;
  box-shadow: none;
  padding-left: 15px;
  width: 700px;
  line-height: 20px;
}
.social-icons{
  margin-top: 60px;
  margin-bottom: 20px;
}
.bi{
  margin-right: 10px;
  color: #fff;
  background-color: #cdcdcd;
  font-size: 15px;
  border-radius: 50%;
  line-height: 34px;
  padding: 15px;
}
.btn{
  margin-top: 10px;
}