.contact-content {
  display: flex;
}
.contact-text {
  max-width: 400px;
  padding: 30px;
}
.contact-text-para {
  font-size: 14px;
  font-weight: 300;
  color: #5a5a5a;
  line-height: 25px;
}
.contact-text-para-1 {
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}
.contact-form {
  max-width: 800px;
}
.form-info {
  max-width: 100%;
  margin-bottom: 20px;
  padding-left: 15px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: none;
  box-shadow: none;
}
