
.featured-content{
  display: flex;
}
.featured-content-text{
  padding: 40px;
}
.featured-content-heading{
  font-size: 19px;
  color: var(--card-heading-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 25px;
}
.featured-content-heading span{
  color: #ccf381;
  font-weight: 700;
}
.featured-content-para{
  font-size: var(--para-font-size);
  font-weight: 300;
  color:var(--para-text-color);
  line-height: 25px;
}
.featured-content-list{
  list-style: none;
  padding: 0;
}
.featured-content-list li{
  font-size: 14px;
  font-weight: 300;
  color: var(--para-text-color);
  line-height: 30px;
}
.btn{
  margin-top: 25px;
}