
.p-60{
  padding: 60px 0;
}

.welcome-card-heading {
  font-size: 19px;
  text-transform: uppercase;
  color: var(--card-heading-color);
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.welcome-card-para {
  font-size: 13px;
  color: var(--paratext-color);
  font-weight: 300;
  line-height: 25px;
  margin: 0 120px;
}

.btn {
  margin-top: 30px;
  text-align: center;
}