* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.top-part{
  background-image: url(https://mcmscache.epapr.in/post_images/website_350/post_31583716/full.jpg);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px;
}